.about {
  padding: 8rem 3rem;
  a {
    font-family: Migra-light-italic;
  }
}

.about h2 {
  font-family: Migra-light;
  font-size: var(--fs-md);
}

.my-photo {
  height: 35em;
  object-fit: cover;
}

.wide {
  display: block;
}

.grid {
  margin: 1rem 0 !important;
}

@media screen and (max-width: 35em) {
  .about img {
    height: 30em;
  }
  .carousel {
    padding: 1rem 0;
  }
  .about-text {
    padding: 0;
  }
  .wide {
    display: none;
  }

  .my-photo {
    margin: 1rem 0;
    aspect-ratio: 1/1;
  }
}

.about p {
  font-size: var(--fs-sm);
  padding-top: 1rem;
}
