.contact-container {
  font-size: var(--fs-sm);
}

.contact-container h4 {
  font-size: var(--fs-md);
  font-family: Migra-light;
  letter-spacing: 0.1rem;
  line-height: 1;
  margin: 3rem 0 1rem 0;
  display: flex;
  overflow-y: hidden;
  padding-top: 2rem;
}

.contact {
  padding: 4rem 1.5rem 2rem;
  min-height: clamp(20rem, 25rem, 40rem);
  display: block;
  margin: auto;
  max-width: 35rem;
}

.contact-btn {
  border: 0.1em solid #bdbcbb;
  padding: 0.7em 2em;
  transition: 0.3s ease-in-out;
  z-index: 1;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 1rem 0;
  border-radius: 0.12em;
  flex: 1;
  background-color: #1e2125 !important;
}

.contact-btn:hover {
  background-color: #e9dfce !important;
  color: #1e2125;
  border: 0.1em solid #e9dfce;
}

.contact-form {
  padding: 1rem 0;
}
