.projects-page {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  height: 100%;
}

.projects-page::-webkit-scrollbar {
  display: none;
}

.navigation {
  display: block;
  padding: 10rem 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  margin: auto;
  justify-content: center !important;
  h2 {
    font-size: var(--fs-md);
    font-family: Migra-light;
    padding-top: 1rem;
    margin: 0;
    text-align: center;
  }
  h2:hover {
    cursor: pointer;
  }
}
