.portfolio h2:hover {
  font-style: italic !important;
  transition: 0.5s ease-in-out;
}

.projects-page {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  height: 100%;
}

.projects-page::-webkit-scrollbar {
  display: none;
}

.portfolio a {
  text-decoration: none;
}

.bubble-container {
  margin: auto;
  text-align: center;
  border: 1px solid pink;
  width: fit-content;
}

.bubble {
  border: 1px solid #e9dece;
  border-radius: 10px;
  padding: 2rem 3rem;
  width: fit-content;
  text-align: center;
}

.navigation {
  font-family: Migra-light;
  padding-top: 1rem;
  margin: auto !important;
  text-align: center;
  height: 80vh;
  max-width: 70rem;
  margin: auto;
  h2 {
    font-size: var(--fs-md);
    border-bottom: 1px solid #e9dece;
  }
  h2:hover {
    font-family: Migra-bold-italic;
    transition: 0.3s ease-in-out;
  }
  a {
    text-decoration: none;
  }
}

@media screen and (max-width: 45rem) {
  .navigation {
    margin: 0 2rem !important;
  }
}
