.portfolio h2:hover {
  cursor: pointer;
  font-style: italic !important;
  transition: 0.3s ease-in-out;
}

.projects-page {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  height: 100%;
}

.projects-page::-webkit-scrollbar {
  display: none;
}

.portfolio a {
  text-decoration: none;
}

.navigation {
  font-family: Migra-light;
  padding-top: 1rem;
  margin: auto !important;
  text-align: center;
  height: 70vh;
  max-width: 70rem;
  margin: auto;
  h2 {
    font-size: var(--fs-md);
    border-bottom: 1px solid #e9dece;
  }
  h2:hover {
    font-family: Migra-light-italic;
    transition: 0.3s ease-in-out;
    background-color: #e9dece;
    color: #1e2125;
    font-size: var(--fs-l);
    cursor: pointer;
  }
  a {
    text-decoration: none;
  }
}

@media screen and (max-width: 45rem) {
  .navigation {
    margin: 0 2rem !important;
  }
}
