.projects {
  padding: 4rem 1.5rem 10rem;
  margin: auto;
  max-width: 70rem;
  overflow: hidden !important;

  h3 {
    text-align: center;
    font-size: var(--fs-md);
    font-family: Migra-light;
    border-bottom: 1px solid #e9dfce;
    padding-bottom: 1rem;
  }
  Row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 !important;
    padding-top: 2rem;
  }
  img {
    aspect-ratio: 16/9;
  }
  img:hover {
    cursor: pointer;
  }
  h4 {
    margin-bottom: 1rem;
    margin-top: clamp(0.5rem, 1rem, 4rem);
  }
}
