* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  color: #e9dfce;
  -webkit-font-smoothing: antialiased;

  --fs-xl: clamp(7rem, 9rem, 12rem);
  --fs-l: clamp(3rem, 4rem, 6rem);
  --fs-md: clamp(1.2rem, 2.5rem, 3rem);
  --fs-sm: clamp(0.8rem, 1.1rem, 2rem);
  --fs-xs: clamp(0.5rem, 1rem, 5rem);
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: var(--background);
}

html {
  scroll-snap-type: y mandatory;
}

a {
  text-decoration: none;
  color: #e9dfce !important;
}
@media only screen and (min-width: 55rem) {
  * {
    --fs-xl: clamp(15rem, 20rem, 30rem);
    --fs-l: clamp(10rem, 10rem, 18rem);
    --fs-md: clamp(3rem, 3rem, 9rem);
    --fs-sm: clamp(0.8rem, 1.3rem, 3rem);
    --fs-xs: clamp(1rem, 1.2rem, 3rem);
  }
}


body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
  background-color: #1e2125 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
}

button {
  border: 0;
  background-color: transparent;
}

Col {
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: "Migra-bold";
  src: url("./assets/fonts/Migra-Extrabold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Migra-light";
  src: url("./assets/fonts/Migra-Extralight.otf") format("opentype");
  src: local("Migra-light"),
    url(./assets/fonts/Migra-Extralight.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Migra-bold-italic";
  src: url("./assets/fonts/MigraItalic-ExtraboldItalic.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Migra-light-italic";
  src: url("./assets/fonts/MigraItalic-ExtralightItalic.otf") format("opentype");
  font-display: swap;
}
