* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  color: #e9dfce;

  --fs-xl: clamp(7rem, 10vw + 1rem, 15rem);
  --fs-l: clamp(3rem, 4rem, 6rem);
  --fs-md: clamp(1.2rem, 1.7rem, 3rem);
  --fs-sm: clamp(0.8rem, 1.4rem, 2rem);
  --fs-xs: clamp(0.5rem, 1.1rem, 5rem);
}

@media only screen and (min-width: 55rem) {
  body {
    --fs-xl: clamp(7rem, 15vw + 1rem, 30rem);
    --fs-l: clamp(10rem, 20rem, 25rem);
    --fs-md: clamp(3rem, 5rem, 7rem);
    --fs-sm: clamp(0.8rem, 1.1rem, 2rem);
    --fs-xs: 8rem;
  }
}

a {
  text-decoration: none;
  color: #e9dfce !important;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
  background-color: #1e2125 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

Col {
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Migra-bold";
  src: url("./assets/fonts/Migra-Extrabold.otf") format("opentype");
}

@font-face {
  font-family: "Migra-light";
  src: url("./assets/fonts/Migra-Extralight.otf") format("opentype");
}

@font-face {
  font-family: "Migra-bold-italic";
  src: url("./assets/fonts/MigraItalic-ExtraboldItalic.otf") format("opentype");
}

@font-face {
  font-family: "Migra-light-italic";
  src: url("./assets/fonts/MigraItalic-ExtralightItalic.otf") format("opentype");
}
