.about {
  padding: 8rem 3rem;
}

.about h2 {
  font-family: Migra-light;
  font-size: var(--fs-l);
}

.about img {
  object-fit: cover;
  height: 45em;
}

@media screen and (max-width: 35em) {
  .about img {
    height: 30em;
  }
  .carousel {
    padding: 1rem 0;
  }
  .about-text {
    padding: 0;
  }
}

.about p {
  font-size: var(--fs-sm);
}
