.footer {
  background-color: #1e2125;
  color: #bdbcbb;
  width: 100%;
  overflow-x: hidden;
  position: fixed;
  bottom: 0;
}

.footer-content {
  text-align: center;
}

.social {
  display: inline-block;
  padding: 1rem 0;
}

.social a {
  display: inline-flex;
  line-height: 1;
  padding: 0 0.5em;
}

.social a img {
  width: clamp(1em, 1.5em, 4em);
}

.footer-section {
  display: inline-block;
  width: 100%;
}

.footer-section p {
  font-size: clamp(0.5rem, 1rem, 2rem);
}