.footer {
  color: #bdbcbb;
  width: 100%;
  overflow-x: hidden;
}

.footer-content {
  text-align: center;
}

.social {
  display: inline-block;
  padding: 1rem 0;
}

.social a {
  display: inline-flex;
  line-height: 1;
  padding: 0 0.5em;
}

.social a img {
  width: clamp(1em, 1.5em, 4em);
}

.footer-section {
  display: inline-block;
  width: 100%;
}

.footer-section p {
  font-size: clamp(0.5rem, 1rem, 2rem);
}

.waves {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/waves.svg);
  margin: 0;
  padding: 0;
}