.hero {
  margin-top: 8rem;
  margin-bottom: 5rem;
  padding: 3rem 0.5rem;
  text-align: left;
  min-height: 50rem;
  max-width: 70rem;
  /* background-color: #f9fefe; */
}

.hero-name {
  /* font-weight: 700; */
  letter-spacing: 0.8px;
  padding: 1rem 0;
  font-size: clamp(0.8rem, 1.2rem, 3rem);
  display: inline-block;
}

.hero h1 {
  /* font-size: clamp(3.5rem, 1rem + 10vw, 5rem); */
  font-size: var(--fs-l);
  /* font-family: 'Times New Roman', Times, serif !important; */
  font-family: Migra-light-italic;
  font-weight: 400;
  letter-spacing: 0.2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  display: flex;
  overflow-y: hidden;
}

.hero p {
  font-size: clamp(0.5rem, 1rem, 2rem);
  padding: 0.5rem 0;
}

.hero-action {
  justify-content: center;
  padding: 0.5rem 0;
}

.action-btn {
  font-weight: 400;
  border: 0.1em solid #e9dfce;
  padding: 0.7em 1em;
  font-size: clamp(0.8rem, 1rem, 6rem);
  transition: 0.3s ease-in-out;
  z-index: 1;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 0 0.5em 0.3em 0;
  border-radius: 0.12em;
  flex: 1;
  text-decoration: none !important;
  color: #e9dfce;
}

.action-btn:hover {
  color: #1e2125;
  background-color: #e9dfce;
  border: 0.1em solid #e9dfce;
}

@media all and (max-width: 30em) {
  a.action-btn {
    display: block;
    margin: 0.4em auto;
  }
}
span.navbar-text {
  display: flex;
  align-items: center;
}
