.hero {
  margin-top: 0;
  padding: 7rem 0;
  text-align: center;
}

.hero-name {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 1rem 0;
  font-size: clamp(0.8rem, 1.2rem, 3rem);
  display: inline-block;
}

.hero h1 {
  font-size: clamp(3.5rem, 1rem + 10vw, 5rem);
  font-family: 'Times New Roman', Times, serif !important;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 1;
  margin-bottom: 1rem;
  display: block;
  color: black !important;
  overflow-y: hidden;
}

.hero p {
  font-size: clamp(0.5rem, 1rem, 2rem);
  padding: 0.5rem 0;;
}

.hero-action {
  /* display: flex; */
  /* align-items: center; */
  justify-content: center;
  padding: 0.5rem 0;;
}

.action-btn {
  font-weight: 700;
  color: #333;
  border: 0.1em solid #333;
  padding: 0.7em 1em;
  font-size: 1.2em;
  transition: 0.3s ease-in-out;
  z-index: 1;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin:0 0.5em 0.3em 0;
  border-radius:0.12em;
  flex: 1;
  }

  .action-btn:hover {
    color: #fff;
    background-color: #333;
  }

    a.action-btn:hover{
    color:#000000;
    background-color:#FFFFFF;
    }
    @media all and (max-width:30em){
    a.action-btn{
    display:block;
    margin:0.4em auto;
    }
    }

  .hero-img-container {
    width: clamp(10rem, 20rem, 35rem);
    display: inline-flex;
    /* border-radius: 50%; */
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .hero-img img {
    /* width: fit-content; */
    z-index: 1;
    margin-top: 10%;
 }

 span.navbar-text {
  display: flex;
  align-items: center;
}