nav.navbar {
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  transition: 0.32 ease-in-out;
  background-color: #1e2125 !important;
  color: #e9dfce !important;
  font-size: var(--fs-sm);
}

nav.navbar .navbar-nav .nav-link .navbar-link {
  font-weight: 500;
  color: #e9dfce !important;
  padding: 0 1rem;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  text-decoration: underline !important;
}

.navBar nav-link {
  text-align: right !important;
}
