.portfolio h2 {
  font-size: var(--fs-md);
  font-family: Migra-light;
  padding-top: 1rem;
  margin: 0;
  border-bottom: 1px solid #e9dece;
}

.portfolio h2:hover {
  cursor: pointer;
}

.projects-page {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.projects-page::-webkit-scrollbar {
  display: none;
}

.portfolio a {
  text-decoration: none;
}