h2 {
  font-size: var(--fs-md);
}

.projects-page {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.projects-page::-webkit-scrollbar {
  display: none;
}