.projects {
  padding: 4rem 1.5rem;
  margin: auto;
  max-width: 60rem;
}

.projects h3 {
  text-align: center;
  padding-bottom: 2rem;
  font-size: var(--fs-md);
}

.projects row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 !important;
}

.projects img {
  border: 1px solid #e9dfce;
  aspect-ratio: 16/9;
}

.project-action {
  display: inline-flex;
  text-align: center;
}

.project-action button {
  font-weight: 500;
  padding: 0.3em 1em;
  font-size: 1em;
  transition: 0.3s ease-in-out;
  z-index: 1;
  box-sizing: border-box;
  display: inline-flex;
  text-align: center;
  text-decoration: none;
  margin: 0 0.5em 0.3em 0;
  flex: 1;
  border: 0.1em solid #333;
}

.project-action button:hover {
  color: #333;
  background-color: #fff;
}
