.skills {
    background-color: #252422;
    color: #fffcf2;
    display: flexbox;
    align-items: flex-start;
    padding: 1rem;
    text-align: center;
}
  
  .skills-container span {
    width: 3em;
    height: 3em;
    display: inline-flex;
    margin: 0.5rem;
    line-height: 1;
    align-items: flex-start;
}
  
  .skills-container a img {
    width: 40%;
  }

.skills h4 {
    padding-bottom: 0.5 rem;
}