.skills {
  background-color: #403d39;
  color: #fffcf2;
  padding: 1rem;  
}

.skills img {
  height: 3em;
  display: block;
  width: clamp(1em, 2em, 4em);
}

.skills h4 {
    padding-bottom: 0.5 rem;
}

.skills figure {
  width: fit-content;
  display: inline-block;
  align-content: flex-start;
}

.skills figcaption {
  font-size: clamp(0.5rem, 0.8rem, 2rem);
  padding-top: 0.5rem;
  width: fit-content;
}